.plugin_schulzevote_vote {
    width: 15em;
    border: 1px solid __border__;
    padding: 1em 1em 0 1em;
    margin: .5em;
}

.plugin_schulzevote_vote.center {
    margin-left: auto;
    margin-right: auto;
}
.plugin_schulzevote_vote.left { float:left; }
.plugin_schulzevote_vote.right { float:right; }




.plugin_schulzevote_vote p {
    text-align:center;
}
.plugin_schulzevote_vote p input.edit {
    width: 3em;
    float:left;
}
.plugin_schulzevote_vote p label {
    margin-left: .5em;
}

