
#plugin__schulzevote {
    padding: 1em 1em 0 1em;
    margin: .5em;
}

.plugin_schulzevote_center {
    margin-left: auto;
    margin-right: auto;
}
.plugin_schulzevote_left {
    float:left;
}
.plugin_schulzevote_right {
    float:right;
}

#plugin__schulzevote fieldset legend {
    text-align: left;
}

#plugin__schulzevote p {
    text-align:center;
}

#plugin__schulzevote .candy {
    font-weight: bold;
    text-align:left;
}

#plugin__schulzevote label.block input {
    width: 15%;
    margin-right: 30%;
    margin-left: 5%;
}

#plugin__schulzevote .votebar {
    float: right;
    background-color: __background_alt__;
}
